*{
	padding:0;
	margin:0;
}
html,body{
	width: 100%;
	height: 100%;
	/*background-color: #1E2F27;*/
	overflow: hidden;
}
section{
	width: 100%;
	max-width: 600px;
	min-width: 300px;
	margin:0 auto;
	height: 100%;
}
.box,.cover{
	margin:85% auto 0;
	width: 200px;
	height: 200px;
	background-image: repeating-linear-gradient(45deg,
    #FE2F54,
    #FE2F54 1px,
    #FE4365 1px,
    #FE4365 4px
  );
	border-radius: 5px;
	box-shadow: inset -6px -6px 36px rgba(51,51,51,0.1);
	position: relative;
}
.box{
	-webkit-animation: up 3s ease-in-out infinite;
	animation: up 3s ease-in-out infinite;
	/*box-shadow: 0 -10px 40px gold;*/
}
.cover::before,.box::before,.box::after{
	position: absolute;
	content:'';
	background-color: #F9CDAD;
}
.cover::before,.box::before{
	width: 20%;
	height: 100%;
	top:0;
	left:50%;
	-webkit-transform: translate3d(-50%,0,0);
	transform: translate3d(-50%,0,0);
	background-image: linear-gradient(80deg, transparent, rgba(255,255,255,0.4) 80%, transparent);
	box-shadow: 
      inset 0 -4px 6px -2px rgba(50,50,50, 0.1),
      4px 0 6px -2px rgba(50,50,50, 0.1);
}
.box::after{
	width: 100%;
	height: 20%;
	top:50%;
	left:0;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
	background-image: linear-gradient(80deg, transparent, rgba(255,255,255, 0.6) 60%, transparent);
    box-shadow: 0 0 8px -2px rgba(50,50,50, 0.1);
}
.cover{
	position: absolute;
	top:0;
	left: -3px;
	width: 206px;
	height: 40px;
	margin:0;
	border-radius: 5px 5px 0 0;
	box-shadow: inset -3px -3px 10px rgba(51,51,51,0.1);
	-webkit-transition: all 3s;
	z-index: 100;
}

.cover::before{
	border-radius: 1px 1px 0 0;
}

 .flower{
    position: absolute;
    right: 0; bottom: 100%; left: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    background-color:  #83AF9B;
    border-radius: 2px 2px 0 0;
    box-shadow: inset -6px -6px 6px rgba(51,51,51, 0.1);
}
.flower::before,
 .flower::after {
   content: "";
   position: absolute;
   bottom: 100%;
   width: 70%;
   height: 150%;
   background-color:  #83AF9B;
   border-radius: 2px;
   /*z-index: -1;*/
  box-shadow: inset 6px 6px 6px rgba(51,51,51, 0.1);
 }
.flower::before {
  left: 0;
  -webkit-transform: rotate(45deg);
}
.flower::after {
    right: 0;
    -webkit-transform: rotate(-45deg);
   }
@keyframes up {
  52% { -webkit-transform: translateX(-1%); }
  56% { -webkit-transform: translateX(1%); }
  56% { -webkit-transform: translateX(-2%); }
  58% { -webkit-transform: translateX(2%); }
  60% { -webkit-transform: translateX(-1%); }
  62% { -webkit-transform: translateX(2%); }
  64% { -webkit-transform: translateX(0); }
}
.box .word{
	position: absolute;
	top:-100px;
	left: -100px;
	width: 200%;
	height: 50%;
	text-align: center;	
	-webkit-transition:all 6s;
}
.bg{
	position: absolute;
	top:40px;
	left:-50%;
	width: 200%;
	height: 0;
	box-shadow: 0 0 150px gold;
	border-radius: 100px;
	background-color: #fff;
	background-image: gradient(#fff 0,transparent);
	-webkit-transition:all 3s;
	/*-webkit-transition-delay:3s;*/
}
.word span{
	font-size: 38px;
	opacity: 0;
	-webkit-transition:all .3s;
	-webkit-transition-delay:3s;
	z-index:100;
	font-family: 'microsoft yahei';
}
.word .word2{
	color: red;
	-webkit-transition-delay:4.5s;
}.word .word3{
	color: orange;
	-webkit-transition-delay:5s;
}.word .word4{
	color:yellow;
	-webkit-transition-delay:5.5s;x
}.word .word5{
	color:green;
	-webkit-transition-delay:6s;
}.word .word6{
	color:skyblue;
	-webkit-transition-delay:6.5s;
}.word .word7{
	color:blue;
	-webkit-transition-delay:7s;
}.word .word8{
	color:purple;
	-webkit-transition-delay:7.5s;
}
.login{
	-webkit-transition:all 1s;
	-webkit-transition-delay:8s;
	opacity: 1;
}
.btn{
	position: absolute;
	top:100px;
	left:50%;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	background-color: #1E2F27;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	font:700 20px/40px "microsoft yahei";
	-webkit-animation:move 2s infinite;
	animation:move 2s infinite;
}
@keyframes move{
	50%{
		-webkit-transform:translateY(10px);
	}
	100%{
		-webkit-transform:translateY(0);

	}
}
.btn::before{
	content:'';
	position: absolute;
	top:90%;
	left:-5px;
	width: 10px;
	height: 70px;
	background-color: #1e2f27;
	margin-left: 20px;
}
/*.main{
	position: absolute;
	top:100%;
	-webkit-transition:all 1s;
	-webkit-transition-delay:8.3s;
	padding-top:45%;
	text-align: center;
}
.main .row{
	display: block;
	line-height: 50px;
}*/